<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ele.me.dao.OrderlistMapper">
  <resultMap id="BaseResultMap" type="ele.me.domain.Orderlist">
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="oamount" jdbcType="INTEGER" property="oamount" />
    <result column="paysstatus" jdbcType="INTEGER" property="paysstatus" />
    <result column="ogid" jdbcType="INTEGER" property="ogid" />
    <result column="ocid" jdbcType="INTEGER" property="ocid" />
    <result column="obid" jdbcType="INTEGER" property="obid" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oid, oamount, paysstatus, ogid, ocid, obid, add_time
  </sql>
  <select id="selectByExample" parameterType="ele.me.domain.OrderlistExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderlist
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orderlist
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ele.me.domain.OrderlistExample">
    delete from orderlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ele.me.domain.Orderlist">
    insert into orderlist (oid, oamount, paysstatus, 
      ogid, ocid, obid, add_time
      )
    values (#{oid,jdbcType=INTEGER}, #{oamount,jdbcType=INTEGER}, #{paysstatus,jdbcType=INTEGER}, 
      #{ogid,jdbcType=INTEGER}, #{ocid,jdbcType=INTEGER}, #{obid,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="ele.me.domain.Orderlist">
    insert into orderlist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="oamount != null">
        oamount,
      </if>
      <if test="paysstatus != null">
        paysstatus,
      </if>
      <if test="ogid != null">
        ogid,
      </if>
      <if test="ocid != null">
        ocid,
      </if>
      <if test="obid != null">
        obid,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="oamount != null">
        #{oamount,jdbcType=INTEGER},
      </if>
      <if test="paysstatus != null">
        #{paysstatus,jdbcType=INTEGER},
      </if>
      <if test="ogid != null">
        #{ogid,jdbcType=INTEGER},
      </if>
      <if test="ocid != null">
        #{ocid,jdbcType=INTEGER},
      </if>
      <if test="obid != null">
        #{obid,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ele.me.domain.OrderlistExample" resultType="java.lang.Long">
    select count(*) from orderlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orderlist
    <set>
      <if test="record.oid != null">
        oid = #{record.oid,jdbcType=INTEGER},
      </if>
      <if test="record.oamount != null">
        oamount = #{record.oamount,jdbcType=INTEGER},
      </if>
      <if test="record.paysstatus != null">
        paysstatus = #{record.paysstatus,jdbcType=INTEGER},
      </if>
      <if test="record.ogid != null">
        ogid = #{record.ogid,jdbcType=INTEGER},
      </if>
      <if test="record.ocid != null">
        ocid = #{record.ocid,jdbcType=INTEGER},
      </if>
      <if test="record.obid != null">
        obid = #{record.obid,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orderlist
    set oid = #{record.oid,jdbcType=INTEGER},
      oamount = #{record.oamount,jdbcType=INTEGER},
      paysstatus = #{record.paysstatus,jdbcType=INTEGER},
      ogid = #{record.ogid,jdbcType=INTEGER},
      ocid = #{record.ocid,jdbcType=INTEGER},
      obid = #{record.obid,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ele.me.domain.Orderlist">
    update orderlist
    <set>
      <if test="oamount != null">
        oamount = #{oamount,jdbcType=INTEGER},
      </if>
      <if test="paysstatus != null">
        paysstatus = #{paysstatus,jdbcType=INTEGER},
      </if>
      <if test="ogid != null">
        ogid = #{ogid,jdbcType=INTEGER},
      </if>
      <if test="ocid != null">
        ocid = #{ocid,jdbcType=INTEGER},
      </if>
      <if test="obid != null">
        obid = #{obid,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ele.me.domain.Orderlist">
    update orderlist
    set oamount = #{oamount,jdbcType=INTEGER},
      paysstatus = #{paysstatus,jdbcType=INTEGER},
      ogid = #{ogid,jdbcType=INTEGER},
      ocid = #{ocid,jdbcType=INTEGER},
      obid = #{obid,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where oid = #{oid,jdbcType=INTEGER}
  </update>

<!--  自己创建的-->
  <resultMap id="BaseResultWithObjectMap" type="ele.me.domain.Orderlist">
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="oamount" jdbcType="INTEGER" property="oamount" />
    <result column="paysstatus" jdbcType="INTEGER" property="paysstatus" />
    <result column="ogid" jdbcType="INTEGER" property="ogid" />
    <result column="ocid" jdbcType="INTEGER" property="ocid" />
    <result column="obid" jdbcType="INTEGER" property="obid" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <association property="goods" javaType="ele.me.domain.Goods" select="ele.me.dao.GoodsMapper.selectByPrimaryKey" column="ogid">
      <id property="gid" column="gid"></id>
      <result property="gname" column="gname"></result>
    </association>
    <association property="customer" javaType="ele.me.domain.Customer" select="ele.me.dao.CustomerMapper.selectByPrimaryKey" column="ocid">
      <id property="cid" column="cid"></id>
      <result property="cname" column="cname"></result>
    </association>
    <association property="business" javaType="ele.me.domain.Business" select="ele.me.dao.BusinessMapper.selectByPrimaryKey" column="obid">
      <id property="bid" column="bid"></id>
      <result property="bname" column="bname"></result>
    </association>
  </resultMap>
  <select id="selectWithObjectByExample" parameterType="ele.me.domain.OrderlistExample" resultMap="BaseResultWithObjectMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectWithObjectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultWithObjectMap">
    select
    <include refid="Base_Column_List" />
    from orderlist
    where oid = #{oid,jdbcType=INTEGER}
  </select>
</mapper>